.container {
    max-width: 1210px;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;

}

.header {
    width: 100%;
    height: auto;

    &__top {
        display: flex;
        width: 100%;

        &--left {
            width: 20%;
            // gap: 20px;
            margin-top: 10px;

            p {
                line-height: 28px;
                font-size: 12px;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;

            }


            a {
                text-decoration: none;
                color: #212529;
                font-size: 12px;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 5px;
            }
        }

        span {
            font-family: Arial, Helvetica, sans-serif;

        }

        &--center {
            width: 60%;
        }

        &--right {
            width: 25%;

            p {
                line-height: 28px;
                font-size: 12px;
                color: #212529;
            }

            a {
                text-decoration: none;
                color: #212529;
                font-weight: 600;
            }
        }
    }

    &__center {
        display: flex;
        width: 100%;
        border-top: 1px solid #f4f4f4;
        padding: 20px 0;

        &--left {
            width: 20%;
            box-sizing: border-box;



            a {
                text-decoration: none;
                color: #212529;

            }

            svg {
                width: 30px;
                height: auto;
                margin-top: 5%;

            }

            .img {
                width: 160px;
                position: absolute;
                top: 0;
                margin-top: 2%;
            }

        }

        &--center {
            display: flex;
            width: 70%;
            position: relative;
            box-sizing: border-box;
            padding: 0px 20px;

            .input {
                flex: 1;
                box-sizing: border-box;
                height: 50px;
                background-color: #fff;
                border: 1px solid #ced4da;
                border-radius: 12px;
                padding: 0.375rem 0.75rem;

            }

            .search {
                position: absolute;
                right: 0;
                top: 0;
                margin: 5px 25px 0px 0px;
                box-sizing: border-box;
                height: 40px;
                background-color: #fff;
                color: black;
                border: 0;
                font-size: 20px;
                border-radius: 12px;
                cursor: pointer;


            }

            button {
                border: solid;

            }
        }

        &--right {
            width: 17%;
            display: flex;
            gap: 5px;

            .header-login {

                height: auto;

                p {
                    cursor: pointer;
                    font-size: .875rem;
                    font-weight: 600;
                    line-height: 1;
                    margin: 7px 0px 5px 0px;
                    font-family: Arial, Helvetica, sans-serif;

                }

                .login-text {
                    font-size: .75rem;
                    max-width: 140px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: capitalize;
                    font-family: Arial, Helvetica, sans-serif;

                }
                a{
                    text-decoration: none;
                    color: #212529;
                }

            }

            .header-favourite {

                height: auto;
                margin: 12px 10px;
                text-align: center;

                .fa-heart {
                    font-size: 25px;
                }
            }

            .header-cart {
                margin: 12px 10px;

                height: auto;
                text-align: center;

                .fa-cart-shopping {
                    font-size: 25px;
                }
            }
            .cart-count {
                position: absolute;
                margin-left: 12px;
                margin-top: -7px;
                background-color: red;
                color: white;
                border-radius: 50%;
                padding: 0px 4px;
            }
        }
    }

    &__bottom {
        display: flex;
        width: 100%;

        &--category {
            width: 25%;
            gap: 20px;
            display: flex;

            .category-title {
                background: #333366;
                background-color: #333366;
                border-top-left-radius: 0.875rem;
                border-top-right-radius: 0.875rem;
                color: #fff;
                height: 2rem;
                padding-left: 1.25rem;
                padding-top: 1rem;
                padding-right: 1.25rem;
                position: relative;

                width: 100%;
            }

            .fa-caret-down {
                position: absolute;
                margin-top: 18px;
                right: -1;
                color: #fff;
                margin-left: 17%;
            }

            a {
                text-decoration: none;
                color: #212529;
                font-size: 13px;
                margin: 5px;
            }

            p {
                margin: 0;
            }
        }

        &--menu {
            width: 40%;

            .nav {
                width: 100%;
                display: flex;
                height: 100%;
                margin: 0;
                text-align: center;

            }

            li {
                list-style-type: none;
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
            }
        }

        a {
            text-decoration: none;
            color: black;

        }

        &--li {
            width: 35%;
        }


    }

}

.footer {
    width: 100%;
    height: auto;
    background-color: #F6F7F9;
    padding-top: 5rem;

    &__top {
        width: 100%;
        height: 300px;
        display: flex;

        &--introduce {
            width: 30%;
            height: auto;



            .text {
                font-size: 1.125rem;
                font-weight: 600;
                margin-bottom: 0.9375rem;
                font-family: Arial;
            }

            .description {
                margin: 0;
                font-size: .875rem;
                line-height: 1.4;
                margin-bottom: 1rem;
                opacity: .6;
            }
        }

        &--information {
            width: 70%;
            height: auto;

            .information {
                width: 100%;
                height: 200px;
                gap: 3.3333%;
                display: flex;
                padding-left: 2.6875rem;

                &__contact {
                    width: 30%;
                    height: auto;
                }

                &__about {
                    width: 30%;
                    height: auto;

                }

                &__product {
                    width: 30%;
                    height: auto;
                }
            }

            .title {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
                font-family: Arial;
            }

            .about {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 15px 0px 15px 0px;
                }
            }
        }
    }

    &__bottom {
        width: 100%;
        display: flex;
        padding-bottom: 1.75rem;
        padding-top: 1.75rem;
        border-top: 1px solid #e9ecef;
        margin-top: 5rem;

        &--left {
            width: 50%;
            height: auto;

            p {
                margin: 0;
                margin-top: 0.3125rem;
            }

            .copyright {
                width: 100%;
            }
        }

        &--right {
            width: 50%;
            margin-left: 30%;
            height: auto;
            text-align: centers;
        }
    }

}

.category {
    width: 100%;

    &__top {

        &--item {
            a {
                text-decoration: none;
                color: #212529;
                font-family: Arial, Helvetica, sans-serif;
            }
        }

        &--item1 {
            margin-left: 10px;

            a {
                text-decoration: none;
                color: #000000;
                font-family: Arial, Helvetica, sans-serif;
                opacity: .6;
            }
        }
    }

    &__center {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 20px;

        &--content {
            width: 100%;
            height: auto;
            display: flex;
        }

        .left {
            width: 30%;
            height: auto;

            &__top {
                display: flex;
                position: relative;

                &--item {
                    width: 80%;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 700;

                }

                &--item1 {
                    width: 20%;
                    text-align: right;
                    margin-right: 15px;
                }
            }

            &__content {
                padding: 20px 0px;

                &--title{
                    font-size: 16px;
                    font-weight: 600;
                    font-family: Arial, Helvetica, sans-serif;
                }


                &--between {
                    display: flex;


                    .left1 {
                        width: 70%;
                        display: flex;
                        input{
                            outline: 0;
                            width: 150px;
                        }
                    }

                    .right1 {
                        width: 30%;

                        button {
                            background-color: #f2f3f5;
                            border-color: transparent;
                            border-radius: 6px;
                            color: #212529;
                            cursor: pointer;
                            font-size: .6875rem;
                            height: 2.125rem;
                            padding-left: 0.75rem;
                            padding-right: 0.75rem;
                            text-transform: uppercase;
                        }
                    }
                }

                .range {
                    width: 100%;

                    input {
                        width: 100%;
                        padding: 20px;
                        box-sizing: border-box;
                    }
                }
            }

            &__bottom {
                display: flex;
                position: relative;

                &--item {
                    width: 80%;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 700;

                }

                &--item1 {
                    width: 20%;
                    text-align: right;
                    margin-right: 15px;

                }
            }
        }

        ul {
            width: 100%;
            padding: 10px;
            background-color: #ffffff;
            list-style-type: none;
        }

        .hidden {
            display: none;

            label {
                text-decoration: none;
                color: #212529;
                font-family: Arial, Helvetica, sans-serif;
            }
            a:hover {
                text-decoration: none;
                color: #fc0000;
                font-family: Arial, Helvetica, sans-serif;
            }
            input{
               border: none;
            }
        }

        .right {
            width: 100%;

            
            &__top {
                background-color: rgba(241, 243, 245, .5);
                border-radius: 12px;
                margin-bottom: 0.9375rem;
                padding: 1.25rem 1.875rem;
                display: flex;
                form{
                    display: flex;
                    padding: 0 20px;
                    label{
                       display: flex;
                       align-items: center;
                       font-family: Arial, Helvetica, sans-serif;
                       font-size: 13px;
                       opacity: .6;

                    }
                    select{
                        border: none;
                        outline: 0;
                    }
                    option{
                        color: #212529;
                     }
                  

                }
                &--left {
                    width: 40%;
                    display: flex;
                    align-items: center;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;


                }

                &--right {
                    width: 60%;
                    display: flex;

                    

                    .it {
                        width: 30px;
                        height: 30px;
                        margin: 0px 10px;
                        background-color: #e9ecef;
                        border: 1px solid #cbd0d4;
                        border-radius: 6px;
                        margin-top: -5px;

                        svg {
                            fill: #212529;
                            padding: 7px;

                        }
                    }
                }

            }
        }
    }
}



.product1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 25%;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
        position: relative;
        // border-bottom: 1px solid #e9ecef;

        &--top {
            position: relative;
            width: 100%;

            .item-sale {
                width: 44px;
                height: 24px;
                background-color: #f03e3e;
                border-radius: 10px;
                text-align: center;
                position: absolute;
                top: 0.8rem;
                color: #ffffff;
                font-size: 13px;
                margin-left: -10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .item-heart {

                position: absolute;
                right: 0;
                top: 0.8rem;
                background-color: #ffffff;
                border-radius: 50%;
                color: black;
                font-size: 20px;
                margin-right: -5px;
                text-align: center;
                width: 30px;
                height: 30px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .item-compare {
                display: none;
                position: absolute;
                right: 0;
                top: 3rem;
                background-color: #ffffff;
                border-radius: 50%;
                color: black;
                font-size: 20px;
                margin-right: -5px;
                text-align: center;
                width: 30px;
                height: 30px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
                text-align: center;

                svg {
                    margin-top: 5px;
                }

            }

            .item-show {
                display: none;
                position: absolute;
                right: 0;
                top: 5.2rem;
                background-color: #ffffff;
                border-radius: 50%;
                color: black;
                font-size: 20px;
                margin-right: -5px;
                text-align: center;
                width: 30px;
                height: 30px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

                svg {
                    margin-top: 5px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border-radius: 12px;
                overflow: hidden;
                transition: transform 0.3s ease;
            }

        }

        &--center {
            padding: 0px 16px;
            width: 100%;

            // display: none;
            a {
                text-decoration: none;
                font-size: .875rem;
                font-weight: 600;
                line-height: 1.3;
                margin-bottom: 0;
                color: black;
                font-family: Arial;


            }
        }

        &--evaluate {
            display: flex;

            .evaluate-left {
                width: 50%;
            }

            .evaluate-right {
                width: 50%;
                font-size: .875rem;
                margin-left: 10px;
            }
        }

        &--price {
            display: flex;

            .price-left {
                width: 30%;
                color: #868e96;
                margin-right: 10px;
            }

            .price-center {
                width: 40%;
                color: #333366;
                font-weight: 600;
                font-size: 18px;


            }

            .price-right {
                width: 30%;

            }
        }

        &--stock {

            svg {
                fill: #099268;
            }

            span {
                color: #099268;
                font-family: Arial;
                font-size: 13px;
                font-weight: 600;
                margin-left: 0.5rem;
            }
        }


        &--button {
            display: none;
            padding: 20px 0px;

            button {
                background-color: #f03e3e;
                border: none;
                width: 80%;
                margin-left: 20px;
                height: 40px;
                border-radius: 15px;
                top: 100%;
                /* Hiển thị .dercription ở dưới .product__item */
                z-index: 1;
                color: rgb(255, 255, 255);
            }

           
        }

        &--bottom {

            top: 100%;
            left: 0;
            display: none;
            width: 100%;
            background-color: #fff;
            display: none;
            position: absolute;
            box-shadow: 0 25px 50px -12px rgba(33, 37, 41, .25);

            ul {
                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    margin: 0;
                    padding: 5px;
                    font-size: 13px;
                    max-height: 92px;
                    overflow: hidden;
                    padding-inline-start: 2.25rem;
                    text-overflow: ellipsis;
                    font-family: Arial, Helvetica, sans-serif;

                }
            }
        }
    }
    .product1__item:hover .product1__item--button,
    .product1__item:hover .product1__item--bottom {
        display: block;
        background-color: #fff;
        z-index: 1;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 0px 0px 15px 15px;
    }

    .product1__item:hover .item-compare,
    .product1__item:hover .item-show {
        display: block;
        background-color: #fff;
        z-index: 1;
        border-radius: 15px;
       
    }

    .product1__item:hover {
        box-shadow: 0 25px 50px -12px rgba(33, 37, 41, .25);
        width: 25%;
        background-color: #fff;
        transition: all .15s cubic-bezier(.17, .62, .44, .99);
    }
    .product1__item ul {
        // border-top: 1px #ced4da solid;
        padding-top: 10px;
    }
}



.full-width {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #e9ecef;
    display: flex;

    .product1__item--top {
        position: relative;
        width: 300px;
   
        .item-sale {
            width: 44px;
            height: 24px;
            background-color: #f03e3e;
            border-radius: 10px;
            text-align: center;
            position: absolute;
            top: 0.8rem;
            color: #ffffff;
            font-size: 13px;
            margin-left: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .item-heart {

            position: absolute;
            right: 0;
            top: 0.8rem;
            background-color: #ffffff;
            border-radius: 50%;
            color: black;
            font-size: 20px;
            margin-right: -5px;
            text-align: center;
            width: 30px;
            height: 30px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .item-compare {
            display: none;
            position: absolute;
            right: 0;
            top: 3rem;
            background-color: #ffffff;
            border-radius: 50%;
            color: black;
            font-size: 20px;
            margin-right: -5px;
            text-align: center;
            width: 30px;
            height: 30px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            text-align: center;

            svg {
                margin-top: 5px;
            }

        }

        .item-show {
            display: none;
            position: absolute;
            right: 0;
            top: 5.2rem;
            background-color: #ffffff;
            border-radius: 50%;
            color: black;
            font-size: 20px;
            margin-right: -5px;
            text-align: center;
            width: 30px;
            height: 30px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

            svg {
                margin-top: 5px;
            }
        }

        img {
            max-width: 300px;
            max-height: 300px;
            box-sizing: border-box;
            border-radius: 12px;
            overflow: hidden;
            transition: transform 0.3s ease;
        }

    }

    .product1__item--center {
        padding: 0px 16px;
        width: 33%;

        // display: none;
        a {
            text-decoration: none;
            font-size: .875rem;
            font-weight: 600;
            line-height: 1.3;
            margin-bottom: 0;
            color: black;
            font-family: Arial;


        }
    }

    .product1__item--bottom {
        width: 33%;
        display: block;
        top: 0;
        position: relative;
        box-shadow: none;

        .product1__item--button {
            padding: 20px 0px;
            width: 100%;
            display: block;



            button {
                background-color: #f03e3e;
                border: none;
                width: 80%;
                margin-left: 20px;
                height: 40px;
                border-radius: 15px;
                top: 100%;
                /* Hiển thị .dercription ở dưới .product__item */
                z-index: 1;

            }

            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
           
        }
    }

    &.product1__item:hover .product1__item--button,
    &.product1__item:hover .product1__item--bottom,
    &.product1__item:hover .item-compare,
    &.product1__item:hover .item-show {
        display: block;
        z-index: 1;
        border-radius: 15px 15px;
    }

    &.product1__item:hover {
        width: 100% !important;
        box-shadow: none;
        transition: none;
    }
}


span.ui-slider-handle.ui-corner-all.ui-state-default {
    border-radius: 50%;
    background-color: #333366;
    border: none;
    width: 13px;
    height: 13px;
    margin-top: 5px;
}
.ui-slider-range.ui-corner-all.ui-widget-header {
    background-color: #333366;
    height: 5px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    border: none;
    outline: none;
    
}

div#slider-range {
    background-color: #f9f9f9;
    border: none;
}